target/messages-1.0-SNAPSHOT.jar
target/classes/.netbeans_automatic_build
target/classes/com/ids/messages/Conexion.class
target/classes/com/ids/messages/Inicio.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/.netbeans_automatic_build
